apiVersion: apps/v1
kind: Deployment
metadata:
  name: jackson
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: jackson
          image: boxyhq/jackson-beta:tagwillbereplaced
          imagePullPolicy: IfNotPresent
